# Defaults
node_modules
.next

# Version Control
.git
.gitignore

# Environment Variables
.env
.env*.local

# Logs
npm-debug.log
yarn-error.log
*.log

# Editor Config
.vscode
.idea
.DS_Store

# Docker / Documentation
Dockerfile
docker-compose.yml
README.md
